#nav_bar {
    padding: 0;
}

nav div {
    padding: 10px;
    background-color: #D0B99D;
}

#dashboard, #customer, #item, #order {
    font-weight: 600;
    color: #1f1f1f;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

#back{
    position: absolute;
    display: flex;
    width: 1480px;
    height: 700px;
    top: 123px;
    left: 0;
}